<div class="container-calendar">
    <div class="month">
        <ul>
        <!-- <li class="prev">&#10094;</li> -->
        <!-- <li class="next">&#10095;</li> -->
        <!-- <li>May <span style="font-size:18px">2024</span></li> -->
        <%- include ('generateMonthYear') %>
        </ul>
    </div>
    
    <ul class="weekdays">
        <li>Mo</li>
        <li>Tu</li>
        <li>We</li>
        <li>Th</li>
        <li>Fr</li>
        <li>Sa</li>
        <li>Su</li>
    </ul>
    
    <ul class="days">
        <%- include ('generateDays') %>
    </ul>
</div>