<div class="carousel-item <% if (i === 0) { %>active<% } %>" number='<%= i + 1 %>'>
    <img src="<%= bg %>" class="d-block w-100" alt="...">
    <div class="carousel-caption d-md-block">
        <h5><%= card.question%></h5>
        <p class="hidden"><%= card.answer %></p>
    </div>
</div>