<%- include("template/header.ejs") %>
<link rel="stylesheet" href="/css/egg.css">
</head>
<body>
<%- include('template/headerBar', {pictureID:pictureID}) %>

<div class="d-flex justify-content-center">
    <img class='align-items-center' id="eggPic" src="/images/depresso1.gif"/>
</div>
    
<div class="text-center h1" id="studyGen">StudyGen</div>

<div id="nameContainer" class="d-flex justify-content-center">
    <span id="name1" class="nameCard">Ryan Lok</span>
    <span id="name2" class="nameCard">Jimmy Kong</span>
    <span id="name3" class="nameCard">Wei-Yu Liao</span>
    <span id="name4" class="nameCard">Louise Li</span>
    <span id="name5" class="nameCard">Joe Lin</span>
</div>


<%- include("template/footerBar.ejs") %>
<%- include("template/footer.ejs") %>