<%- include("template/header.ejs") %>
<link rel="stylesheet" href="/css/egg.css">
</head>
<body>
<%- include('template/headerBar', {pictureID:pictureID}) %>

<div class="d-flex justify-content-center">
    <img class='align-items-center mt-5' id="eggPic" src="/images/depresso1.gif"/>
</div>
    
<div class="text-center h1 eggText" id="studyGen">StudyGen</div>

<div id="nameContainer" class="d-flex justify-content-center">
    <span class="nameCard name1 color1">Ryan Lok</span>
    <span class="nameCard name2 color2">Jimmy Kong</span>
    <span class="nameCard name3 color3">Wei-Yu Liao</span>
    <span class="nameCard name4 color4">Louise Li</span>
    <span class="nameCard name5 color5">Joe Lin</span>
</div>

<audio autoplay src="/images/EggMusic.mp3"></audio>
<script src="/scripts/egg.js"></script>
<%- include("template/footerBar.ejs") %>
<%- include("template/footer.ejs") %>