<%- include("template/header.ejs") %>
<link rel="stylesheet" href="/css/egg.css">
</head>
<body>
<%- include('template/headerBar', {pictureID:pictureID}) %>

<div class="d-flex justify-content-center">
    <img class='align-items-center' id="eggPic" src="/images/depresso1.gif"/>
</div>
    
<div class="text-center h1" id="studyGen">StudyGen</div>


<%- include("template/footerBar.ejs") %>
<%- include("template/footer.ejs") %>