<%
    const months = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December"
    ];

    let date = new Date();
    let year = date.getFullYear();
    let month = date.getMonth();
    let monthName = months[month];

    %><li><%= monthName %> <span style="font-size:18px"><%= year %></span></li>