<form action='/register' method='post'>
    <input name='name' type='text' placeholder='name'>
    <input name='email' type='email' placeholder='email'>
    <input name='password' type='password' placeholder='password'>
    <input name='confirmPassword' type='password' placeholder='confirm password'>
    <button>Submit</button>
</form>