<%- include("template/header") %>
    <link rel="stylesheet" href="../css/register.css">
    </link>
    </head>

    <body>
        <%- include('template/headerBar', {pictureID:pictureID}) %>
            <div class="sign-up-container">
                <div class="form-signup">
                    <h2 class="h3 mb-3 fw-normal text-center display-5">Set Security Question</h2>
                    <form action="/setSecurityQuestion" method="post"></form>
                        <select class="form-select mb-3" id="securityQues" aria-label="Large select example"
                            name="securityQues">
                            <option value="" selected>Security Question</option>
                            <option value="What's your father's name?">What is your father's name?</option>
                            <option value="What's is the last name of your favorite elementary school teacher?">What's is the last name of your favorite elementary school teacher?</option>
                            <option value="What was the name of your first pet?">What was the name of your first pet?</option>
                            <option value="What is the name of your favourite sports team?">What is the name of your favourite sports team?</option>
                            <option value="What is the name of your best friend?">What is the name of your best friend?</option>
                        </select>

                        <div class="mb-1">
                            <label for="securityAns" class="form-label">Security Answer</label>
                            <input type="text" id="securityAns" class="form-control" name="securityAns" required>
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg" type="submit">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
            <%- include("template/footerBar.ejs") %>
            <%- include("template/footer") %>