:root {
    --main-color1: #CAA8F5;
    --main-color2: #9984D4;
    --main-color3: #FED766;
    --main-color4: #230C33;
    --main-color5: #FFFFFF;
}

.headerText {
    color:var(--main-color2);
}

.headerText2 {
    color:var(--main-color3);
}

.space {
    padding-bottom:10px;
}

.button-bg{
    background-color:var(--main-color2);
    margin-bottom:7px;
}

.input-group input[type="search"] {
    width: 300px; /* Adjust the width as per your requirement */
    height: 40px; /* Adjust the height as per your requirement */
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #ced4da; /* Border color */
  }

  .list-group{
    max-height: 500px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}