:root {
    --main-color1: #CAA8F5;
    --main-color2: #9984D4;
    --main-color3: #FED766;
    --main-color4: #230C33;
    --main-color5: #FFFFFF;
    --main-color6:#8714c9;
}

.navbar-bg {
    background-color: var(--main-color6);
}

.nav-button{
    border-width:0px;
}