<footer class="fixed-bottom navbar-bg footer">
    <div class="container footer-button">
        <div class="row">
            <div class="d-flex justify-content-between">
                <button onclick="window.location.href='/'" class="btn footer-btn"><img id="footerImg1" src="/images/footer1.svg"></button>
                <button onclick="window.location.href='/generate'" class="btn footer-btn"><img img id="footerImg2" src="/images/footer2.svg"></button>
                <button onclick="window.location.href='/collection'" class="btn footer-btn"><img id="footerImg3" src="/images/footer3.svg"></button>
            </div>
        </div>
    </div>
</footer>