<footer class="fixed-bottom navbar-bg footer">
    <div class="container footer-button">
        <div class="row">
            <div class="d-flex justify-content-between">
                <button onclick="window.location.href='/'" class="btn footer-btn"><img src="/images/home.svg"></button>
                <button onclick="window.location.href='/generate'" class="btn footer-btn"><img src="/images/addcircle.svg"></button>
                <button onclick="window.location.href='/collection'" class="btn footer-btn"><img src="/images/folder.svg"></button>
            </div>
        </div>
    </div>
</footer>