<nav class="navbar sticky-top navbar-bg d-flex justify-content-between">
    <button class="navbar-bg nav-button d-flex" onclick="window.location.href='/'"><img class="p-2" src="/images/LogoRobot.png"/><span>StudyGen</span></button>
    <button class="navbar-bg nav-button" onclick="window.location.href='/settings'">
        <img id="headerProfilePic" class="m-2 rounded-circle border border-3 border-dark" src='/images/<%= pictureID ? pictureID : "ProfileIcon"%>.png'/></button>
</nav>