:root {
    --main-color1: #CAA8F5;
    --main-color2: #9984D4;
    --main-color3: #FED766;
    --main-color4: #3c0761;
    --main-color5: #FFFFFF;
    --main-color6:#8714c9;
}

.headerText {
    color:var(--main-color6);
}


.setText{
    color:var(--main-color4);
    font-weight:bolder;
    text-decoration:none;
}

.space {
    padding-bottom:6px;
}

.space2 {
    padding-bottom:10px;
}

.button-bg{
    background-color:var(--main-color6);
    margin-bottom:7px;
}

.button-bg:active {
    background-color:#560d81;
    margin-bottom:7px;
}

.button-bg:hover {
    background-color:#560d81;
    margin-bottom:7px;
}

.input-group input[type="search"] {
    width: 300px; /* Adjust the width as per your requirement */
    height: 40px; /* Adjust the height as per your requirement */
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #ced4da; /* Border color */
}

.list-group{
    margin-bottom: 100px;
    margin-top:20px
}

.no-space-btn {
    padding: 0 !important;
    margin: 0 !important;
    line-height: 1 !important;
}

.search {
    filter: brightness(0) invert(1);
}

.btn.btn-danger {
    border: black solid 2px;
}