.header {
    width: auto;
    height: auto;
    position: relative;
}

.custom-navbar {
    background-color: #8714c9;
}

.custom-navbar-brand {
    display: flex;
    padding: 0.2em;
    align-items: center;
    font-size: 30pt;
    color: white;
}

.container-alert {
    width: auto;
    height: auto;
    position: relative;
}

.custom-alert {
    margin: 0.5em;
    padding: 0.75em;
    border-width: 2.5px;
    border-radius: 20px;
}

.custom-alert p {
    margin: 0;
    font-size: 14pt;
}

.container-calendar {
    margin: 1em;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for days of the week */
    gap: 5px; /* Gap between grid items */
}

.container-search-bar {
    margin: 1em;
}

.custom-search-bar {
    border-radius: 15px;
    border-color: black;
}

.container-buttons{
    margin: 1em;
    margin-bottom: 96px;
}

.home-buttons {
    margin-bottom: 0.5em;
    border-radius: 15px;
    background-color: #8714c9;
    padding: 0.5em;
}

.footer {
    display: flex;
    align-items:end;
}

.button-bg{
    background-color:var(--main-color6);
    margin-bottom:7px;
}

.input-group input[type="search"] {
    width: 300px; /* Adjust the width as per your requirement */
    height: 40px; /* Adjust the height as per your requirement */
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #ced4da; /* Border color */
}

.input-group input[type="text"] {
    width: 270px; /* Adjust the width as per your requirement */
    height: 40px; /* Adjust the height as per your requirement */
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #ced4da; /* Border color */
}

.search {
    filter: brightness(0) invert(1);
}

/* ++++++++++++++ */
