:root {
    --main-color1: #CAA8F5;
    --main-color2: #9984D4;
    --main-color3: #FED766;
    --main-color4: #230C33;
    --main-color5: #FFFFFF;
    --main-color6:#8714c9;
}

.navbar {
    font-size: 14pt;
    padding: 0 !important;
    margin: 0;
    line-height: 1;
}

.navbar-bg {
    background-color: var(--main-color6);
}

.nav-button{
    border-width:0px;
}

nav button img {
    width:80px;
}

nav button span {
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 20pt;
    padding-top: 25px;
}

#headerProfilePic{
    width:60px;
}

.btn-primary {
    --bs-btn-bg: #8714c9 !important;
    --bs-btn-hover-bg: #560d81 !important;
    --bs-btn-hover-border-color: #560d81 !important;
    --bs-btn-active-bg: #560d81 !important;
    --bs-btn-active-border-color: #560d81 !important;
}
