<footer class="fixed-bottom navbar-bg">
    <div class="container footer-button">
        <div class="row">
            <div class="d-flex justify-content-between">
                <button onclick="window.location.href='/'" class="btn"><img src="/images/home.svg" style="width:80px"></button>
                <button onclick="window.location.href='/generate'" class="btn"><img src="/images/addcircle.svg" style="width:80px"></button>
                <button onclick="window.location.href='/collection'" class="btn"><img src="/images/folder.svg" style="width:80px"></button>
            </div>
        </div>
    </div>
</footer>