    <nav class="navbar-bg d-flex justify-content-between">
        <button id="homeBtn" class="navbar-bg nav-button"><img class="p-2" src="/images/LogoTrans.svg" style="width:180px"/></button>
        <button id="settingsBtn" class="navbar-bg nav-button"><img class="p-2" src='/images/ProfileIcon.png' style="width:90px"/></button>
    </nav>

    <script src="scripts/headerBar.js"></script>
