    <nav class="navbar-bg d-flex justify-content-between">
        <button class="navbar-bg nav-button" onclick="window.location.href='/'"><img class="p-2" src="/images/LogoTrans.svg" style="width:180px"/></button>
        <button class="navbar-bg nav-button" onclick="window.location.href='/settings'">
            <img id="headerProfilePic" class="m-2 rounded-circle border border-3 border-dark" src='/image/ProfileIcon.png' style="width:80px;"/></button>
    </nav>
