    <nav class="navbar-bg d-flex justify-content-between">
        <button class="navbar-bg nav-button" onclick="window.location.href='/'"><img class="p-2" src="/images/LogoTrans.svg" style="width:180px"/></button>
        <button class="navbar-bg nav-button" onclick="window.location.href='/settings'"><img class="p-2" src='/images/ProfileIcon.png' style="width:90px;"/></button>
    </nav>
