<%- include("header.ejs") %>
<link rel="stylesheet" href="css/navigation.css">
</head>
<body>
    <nav class="navbar-bg d-flex justify-content-between">
        <img class="p-2" src="images/LogoTrans.svg" style="width:180px"/>
        <img class="p-2" src='images/ProfileIcon.png' style="width:90px;"/>
    </nav>