    <nav class="navbar-bg d-flex justify-content-between">
        <button class="navbar-bg nav-button" onclick="window.location.href='/'"><img class="p-2" src="/images/LogoRobot.png" style="width:110px"/><span style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size: 20pt">StudyGen</span></button>
        <button class="navbar-bg nav-button" onclick="window.location.href='/settings'">
            <img id="headerProfilePic" class="m-2 rounded-circle border border-3 border-dark" src='/images/ProfileIcon.png' style="width:80px;"/></button>
    </nav>